@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* global styling 
 -------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body level 
 -------------------------------------*/

body {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}
